@tailwind base;
@tailwind components;
@tailwind utilities;

.link{
  text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}

.card-container {
  height: 450px; 
  display: flex;
  flex: 1;
}

.college-link{
  text-decoration-color: blue;
}
.college-link:hover{
  color: red;
}